# Security (CRITICAL)
.env

# Database Files
*.db
*.sqlite
*.sqlite3
bodybuilding_dw.db


# Python Cache & Virtual Environments
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# IDE / OS system files
.DS_Store
.vscode/
.idea/